<h1>Edit Reward <%= @reward.name %></h1>

<%= form_for([:admin, @reward]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :description %>
  <%= f.text_field :description %> <br>

  <%= f.label :cost %>
  <%= f.text_field :cost %> <br>

  <%= f.submit "Edit Reward" %>
<% end %>
