<h1>Add points for <%= @user.username %></h1>
(Add a negative point value to destroy user points)

<%= form_for([:admin, @user]) do |f| %>
  <%= f.label :points %>
  <%= f.text_field :points %> <br>
  
  <%= f.submit "Add Points" %>
<% end %>
